# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build outputs
cache
out

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea
.cursor

# cli
dist

# NPM (we use Yarn v3)
package-lock.json

.private
